@import "assets/styles/variables";

.todos-container {
  margin-bottom: 64px;

  .todo-item-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
  }
  .todo-item-exit {
    opacity: 0;
    transition: opacity 300ms ease-out;
  }
  .todo-item-enter {
    opacity: 0;
  }
  .todo-item-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }

  .btn-remove-all {
    background-color: $red;
    padding: 8px 16px;
    border-radius: 6px;
    color: $milky;
    border: none;
    font-size: 1.4rem;
    margin-top: 64px;
    transition: all 0.3s;
  }
  .btn-remove-all:hover {
    background-color: $darkRed;
  }
}
