@import "styles/variables";

.container {
  margin-bottom: 64px;

  .removeAllBtn {
    background-color: $red;
    padding: 8px 16px;
    border-radius: 6px;
    color: $milky;
    border: none;
    font-size: 1.4rem;
    margin-top: 64px;
    transition: all 0.3s;
    &:hover {
      background-color: $darkRed;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    .removeAllBtn {
      font-size: 1.2rem;
    }
  }
}
