@import "styles/variables";
@import "styles/mixins";

.container {
  @include item-box;

  .input {
    background-color: $milky;
    width: 80%;
    font-size: 24px;
    padding: 8px 0px;
    border: none;
    border: {
      bottom: 1px solid $lightGray;
    }
    transition: all 0.2s;
    &:focus {
      outline: none;
    }
  }
  .error {
    @extend .input;
    @include squeeze-animation;
    border-bottom-color: $red;
  }

  .addBtn {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: $milky;
    background-color: $blue;
    font-size: 36px;
    border: none;
    padding: 0;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      background-color: $darkBlue;
    }
    &:active {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
    padding: 14px 18px;

    .input {
      width: 85%;
      font-size: 16px;
    }
    .addBtn {
      width: 35px;
      height: 35px;
      font-size: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
