.item-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.item-exit {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
