@import "assets/styles/mixins";
@import "assets/styles/variables";

.todo-container {
  @include todo-item-box;
  position: relative;
  overflow: hidden;
}
.todo-container::after {
  @include box-left-color;
}
.done-todo {
  @extend .todo-container;
  background-color: red;
}
