@import "assets/styles/mixins";
@import "assets/styles/variables";

.todo-container {
  @include todo-item-box;
  position: relative;
  overflow: hidden;
}
.todo-container::after {
  content: "";
  position: absolute;
  left: -75px;
  top: 0;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: $blue;
}
