@import "styles/mixins";
@import "styles/variables";

.container {
  @include todo-item-box;
  display: block;
  position: relative;
  overflow: hidden;

  &::after {
    @include box-left-badge;
  }
}
.doneContainer {
  @extend .container;
  background-color: $darkWhite;
  opacity: 70%;

  &::after {
    @include box-left-badge;
    background-color: $green;
  }
}

.title {
  font: {
    size: 1.5rem;
    weight: bold;
  }
}

.signature {
  font-size: 14px;
  word-wrap: break-word;
}

.btnsContainer {
  margin-top: 16px;
  .notDoneBtn {
    @include small-btn;
    color: $darkGray;
  }
  .doneBtn {
    @include small-btn;
    color: $green;
  }
  .removeBtn {
    @include small-btn;
    color: $red;

    &:hover {
      color: $darkRed;
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 8px 2px 8px 12px;

    .title {
      font-size: 0.9rem;
    }
    .btnsContainer {
      margin-top: 9px;
      .doneBtn,
      .notDoneBtn,
      .removeBtn {
        font-size: 1.2rem;
        margin: 4px 6px;
      }
    }
  }
}
