@import "assets/styles/variables";

@mixin item-box {
  background-color: $milky;
  padding: 14px 24px;
  width: 55%;
  box-shadow: $itemBox;
  border-radius: 12px;
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: all 0.3s;
}

@mixin todo-item-box {
  @include item-box;
  width: 65%;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 8px 18px 8px 30px;
}

@mixin box-left-badge {
  content: "";
  position: absolute;
  left: -292px;
  top: 0;
  width: 300px;
  height: 300px;
  background-color: $blue;
  transition: all 0.3s;
}

@mixin squeeze-animation {
  animation-name: squeeze;
  animation-duration: 0.3s;
}

@mixin cross-out-animation {
  animation-name: cross-out;
  animation-duration: 0.4s;
}

@mixin small-btn {
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  transition: all 0.3s;
  border: none;
  margin: 6px 8px;
}
